@use '/Users/matt/Desktop/Email-completo/src/main/resources/static/scss/base/_variables.scss' as v;

.titleMain{
    text-align: center;
    color:v.$oxford-blue;
    padding-top: 3rem;
}  


.buttonRegister{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 3rem;
}



