<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--TAB NAVEGADOR-->
  <title>Home</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.google.com/a/cpanel/externos.bci.cl/images/favicon.ico">

  <!-- Preoload -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Merriweather:wght@300;400;700;900&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- <link rel="preload" href="../static/css/bootstrap.css" as="style">
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"> -->


  <link rel="preload" href="/scss/app.css" as="style">
  <link rel="stylesheet" href="/scss/app.css">
</head>
<body>

<header class="titleMain">
  <h1 th:class="color">Home</h1>
</header>

<main class="bodyHome">

  <div> 
    <span style="display: flex; justify-content:center;">Sesion iniciada: <div th:text="${session.user}"></div></span>
  </div>
  
  
  <div class="buttonHome">
    <button><a type="button" th:href="@{/emails/new-email}" methods="get" class="btn btn-primary"> Redactar Email </a></button>
    <buttona><a type="submit" class="btn btn-warning" th:href="@{/users/logout}" methods="get"> Cerrar sesion </a></button>
  </div>
  
  <section class="gridHome">
    <div>
      <div style="display: flex; justify-content:center;">
        <h2>Emails recibidos</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Origen</th>
            <th>Fecha</th>
            <th>Asunto</th>
            <th>Mensaje</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="email : ${emails.receivedEmails}">
            <td th:text="${email.sender}">
            <td th:text="${email.date}">
            <td th:text="${email.body}">
            <td ><a type="button" class="btn btn-primary" th:href="@{/emails/email-view/{id}(id = ${email.id})}" methods="get"> Ver </a> </td>
          </tr>
          </tbody>
        </table>
      </div>
      
      <div style="display: flex; justify-content:center;">
        <h2>Emails enviados</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Origen</th>
            <th>Fecha</th>
            <th>Asunto</th>
            <th>Mensaje</th> 
          </tr>
          </thead>
          <tbody>
          <tr th:each="email : ${emails.sentEmails}">
            <td th:email-id="${email.id}" onclick="seleccionaremails(this.getAttribute('email-id'))">Click </td>
      
            <td th:text="${email.receivers}">
            <td th:text="${email.date}">
            <td th:text="${email.body}">
            <td ><a type="button" class="btn btn-primary" th:href="@{/emails/email-view/{id}(id = ${email.id})}" methods="get"> Ver </a> </td>
          </tr>
          </tbody>
        </table>
      </div>



      <div style="padding-top: 40px;">
        <button><a type="button" class="btn btn-primary" onclick=borrarEmails()> Borrar Emails en cantidad </a></button>
      </div>

    </div>

    <div>
      <div class="btn-group folders" role="group" aria-label="Basic example">
    
        <button><a type="button" class="btn btn-primary" th:href="@{/emails/sent}" methods="get" >Enviados</a></button>
        <button><a type="button" class="btn btn-primary" th:href="@{/emails/received}" methods="get" >Recibidos</a></button>
      
        <th:block th:object="${emails}">
          <button><a th:each="folder : *{folders}" type="button" class="btn btn-primary" th:text="${folder}"  th:href="@{/emails/byfolder/{folderName}(folderName = ${folder})}"></a></button>
        </th:block>
      
        <button><a type="button" class="btn btn-warning" th:href="@{/emails/newfolder}" methods="get"> Crear Carpeta </a></button>
    
      </div>
    </div>
  </section>


  
  <script>
    var emails = new Set();
    function seleccionaremails(id){ emails.has(id) ? emails.delete(id):emails.add(id)};
  
    function borrarEmails() {
      return fetch(`http://localhost:8080/emails/deleteall?ids=${[...emails].join(',')}`    ,{
  
        method: 'DELETE',
      }).then(() => window.location= 'http://localhost:8080/emails/home')
    }
  </script>

</main>

</body>
</html>