<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>resend email</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>


    <div>
        <form action="#" th:action="@{/emails/resend-email}" th:object="${emailToResend}" method="post">

            <label>To</label>
            <label>
                <input type="text" class="form-control" id="to" name="to" value="" th:field="*{receivers}">
            </label>

            <div>
                <input type="text" class="form-control" th:value="${emailToResend.body}" th:field="*{body}">
            </div>

            <div>
                <input type="submit" class="btn btn-primary" name="sendEmail">
            </div>

        </form>

    </div>

    <div>
        <a type="button" th:href="@{/emails/home}" methods="get" class="btn btn-danger"> Go Back </a>
    </div>
</body>
</html>