// Tipografias

$fuenteHeading: 'Poppins', sans-serif;
$fuenteParrafos1: 'Merriweather', serif;
$fuenteParrafos2: 'Heebo', sans-serif;

// Colores

$oxford-blue: #031d44ff;
$prussian-blue: #04395eff;
$polished-pine: #70a288ff;
$burlywood: #dab785ff;
$copper-crayola: #d5896fff;